@media screen and (max-width: 786px) {
    .nav_area {
      width: 100%;
      height: 100px;
      /* float: left; */
      /* top:-35px; */
      background-color: #4C65BF;
      position: relative;
    }
    .nav_ul{
        width: 50%;
        left:  73%;
        top:70%;
        height: 250px;
        /* border: 1px solid #3b3b3b; */
    }
    .nav {
        width: 100%;
        margin:0;
        line-height: 50px;
        height: 50px;
        display: none;
        top:-43px;
        left: 0px;
    }
  
   
    .logo_area {
        width: 150px;
        top:50px;
        left: 20px;
        /* position: fixed; */
    }
    .logo_area a{
        height: 44.5px;
    }

    .nav_ul_2 {
        width: 60%;
        left: -65%;
        top: 10px;
       
    }
    .nav_2 {
        height: 50px;
        margin: 5px;
    }
    .nav_ul_2:before {
        border-bottom : solid 10px transparent;
        border-left: solid 10px #fff;
        left: 99%;
        top:10px;

    }
    .dropdown_bridge{
        /* border:1px solid #3b3b3b; */
        top:0px;
        right: -20px;
        width: 20px;
        height: 90px;

    }

    /* .left_area{
        width:calc(100% - 205px) ;
        top:0px;
        height :100px;

    } */
       
    .center_area{
        width:calc(100% - 200px) ;
        height: auto;
        top:0px;
        margin-top: 30px;
        border-bottom: 1px solid #3b3b3b;
        padding-bottom: 50px;
        left:50;
        transform: translateX(-50);
  
    }
    .nav_list{
        display: block;
        top:-43px;
    }
    
    /* .nav_list:hover ~.nav {
        display: inline-block;
       
    } */
    .nav:hover{
        color: #4C65BF;
        transform: translate(0, 0);
       
        
    }

    .slogan_area{
        width:calc(100% - 200px) ;
        height: auto;
        top:0px;
      
        z-index: -1;
        
    }
    #slogan{
        z-index: -1;
        
       
    }

    .news_table{
        min-width: 95%;
    }
    .news_list{
        font-size: 20px;
    }
    #fb_href{
        left: 10px;
    }
    #footer_info {
       left: 170px;
       font-size: 12px;
    }
    .footer{
        width:100% ;
        float: right;
        bottom: 0px;
    }
    .footer p{
        position: relative;
    }
    
  }
