<div class="nav_area">
  <div class="logo_area">
    <a href="index" title="首頁">
        <img src="img/logo-2.png">
    </a>
  </div>
  <div class="login">
    
    <a id="login_link"href="login" #login_link>登入</a>
  </div>
  <div class="nav_list">
      <img src="img/menu-icon.png">
    </div>
  <ul class="nav_ul">

    <li class="nav nav1">
      <a href="news" title="最新消息">最新消息</a>

    </li>
    <li class="nav nav2">
      <a href="menu" title="餐點目錄">餐點目錄</a>
      <ul class="nav_ul_2" id="nav2_ul">
        <li class="nav_2 " id="nav2_1"><a href="menu#1" title="單點品項">單點品項</a></li>

        <li class="nav_2 " id="nav2_2"><a href="menu#2" title="優惠組合">優惠組合</a></li>

        <div class="dropdown_bridge"></div>
      </ul>
    </li>
    <li class="nav nav3">
      <a href="time-limit" title="期間限定">期間限定</a>
    </li>
    <li class="nav nav4">
      <a href="information" title="門市資訊">門市資訊</a>
      <ul class="nav_ul_2" id="nav4_ul">

        <li class="nav_2 " id="nav4_1"> <a href="location" title="交通資訊">交通資訊</a></li>
        <li class="nav_2 " id="nav4_2"> <a href="about-us" title="門市環境">門市環境</a></li>
        <div class="dropdown_bridge"></div>
      </ul>
    </li>
    <li class="nav nav5">
      <a href="feedback" title="意見回饋">意見回饋</a>

    </li>


  </ul>

</div>

