.location_area{
  margin-bottom: 50px;


}
.location_area img{
  height: 700px;
  left: 50%;
  transform: translateX(-50%);
  /* border: #3b3b3b 1px solid; */
  box-shadow:3px 3px 12px gray;

}
.location_area p{
  margin: 50px;
  text-align: center;
  font-size: 18px;
  font-weight: 800;

}
@media screen and (max-width: 543px) {
  .location_area img {
    width: 90%;
    height: auto;
  }
}
