@media screen and (max-width: 786px) {
    .nav_area {
      width: 100%;
      height: 100px;
      /* float: left; */
      /* top:-35px; */
      background-color: #4C65BF;
      position: relative;
    }
    .nav_ul{
        width: 50%;
        left:  73%;
        top:70%;
        height: 250px;
        /* border: 1px solid #3b3b3b; */
    }
    .nav {
        width: 100%;
        margin:0;
        line-height: 50px;
        height: 50px;
        display: none;
        top:-43px;
        left: 0px;
    }
  
   
    .logo_area {
       width: 150px;
        top:30px;
        left: 50%;
        transform: translateX(-50%);
        /* position: fixed; */
    }
    
    .logo_area a{
        height: 44.5px;
        width: 150px;
    }

    .nav_ul_2 {
        width: 60%;
        left: -65%;
        top: 10px;
       
    }
    .nav_2 {
        height: 50px;
        margin: 5px;
    }
    .nav_ul_2:before {
        border-bottom : solid 10px transparent;
        border-left: solid 10px #fff;
        left: 99%;
        top:10px;

    }
    .dropdown_bridge{
        /* border:1px solid #3b3b3b; */
        top:0px;
        right: -20px;
        width: 20px;
        height: 90px;

    }

    
    .center_area{
        width:calc(100% - 200px) ;
        height: 300px;
        top:0px;
        margin-top: 30px;
        border-bottom: 1px solid #3b3b3b;
        padding-bottom: 50px;
     
    }
    .nav_list{
        display: block;
        bottom:45px;
    }
    
    /* .nav_list:hover ~.nav {
        display: inline-block;
       
    } */
    .nav:hover{
        color: #4C65BF;
        transform: translate(0, 0);
       
        
    }

    .slogan_area{
        width:calc(100% - 200px) ;
        height: auto;
        top:0px;
      
        z-index: -1;
        
    }
    #slogan{
        z-index: -1;
        
       
    }

    .news_table{
        min-width: 95%;
    }
    .news_list{
        font-size: 20px;
    }
    #fb_href{
        left: 10px;
    }
    #footer_info {
       top:22px;
       font-size: 12px;
       margin-left: 5px;
       line-height: 23px;
    }
    .footer{
        width:100% ;
        float: right;
        bottom: 0px;
    }
    .footer p{
        position: relative;
    }
    #fb_href{
        left: 46%;
        transform: translateX(-50%);
        bottom:5px;
    }
    #fb_search{
       
        height: 23px;
    }
    #foot_fb{
        width: 23px;
        left: 10px;
        bottom: -4px;
        
    }
    .news_item{
        width: 44%;
    }
    .menu_area img {
        width: 90%;
    }
    .combo_area img {
        width: 80%;
    }
    #feedback_table{
        width: 95%;
    }
 
}
@media screen and (max-width: 604px) {
    
    .center_area {
        width: 90%;
        height: 250px;
    }
    .next_btn {
        transform: translateY(calc(-50% - 155px)) ;
    }
    .pre_btn {
        transform: translateY(calc(-50% - 155px)) ;
    }

    .news_list{
        font-size: 12px;
        height: 80%;
        
    }
    .news_table{
        height: 200px;
    }
    #foot_fb{
        width: 20px;
        bottom: -2px;


    }
    #fb_search{
        height: 20px;
    }
    #footer_info a {
        margin-left: 10px;
        
       
      
    }
    #footer_info {
        top:0px;
        left: 49%;
        transform: translateX(-50%);
      
       
        
    }
    .news_item{
        width: 95%;
    }
   


  }
   @media screen and (max-width: 543px) {
        .location_area img {
            width: 90%;
            height: auto;
        }
        .time_limit_area img {
            width: 90%;
            height: auto;
        }

    }
    @media screen and (max-width: 422px) {
        .nav_list{
            bottom:84px;
        }
        .nav{
            top:-83px
        }
    }
    @media screen and (max-width: 360px) {
        .center_area {
            width: 90%;
            height: 200px;
        }
        #footer_info {
            width: 50%;
        }

    }
    