<div class="feedback_area">
  <h1 class="topic">意見回饋</h1>
  <form [formGroup]="myForm">
    <div id="feedback_table" >
      <h3 id="feedback_table_title">享，早餐 - 意見回饋表</h3>

      <label class="feedback_table_label" for="topic_value" id="topic_label">主旨:
      <input  class="feedback_table_input" id="topic_value" type='text' formControlName="topic_input" required ></label>
      <label class="feedback_table_label" for="name_value"  id="name_label">暱稱:
      <input  class="feedback_table_input" id="name_value"  type='text' formControlName="name_input" required  ></label>
      <label class="feedback_table_label" for="mail_value"  id="mail_label"> 信箱:
      <input  class="feedback_table_input" id="mail_value"  type='text' formControlName="mail_input" required id="email"  ><p id="emailmeg"></p></label>
      <label class="feedback_table_label" for="text_value" id="text_label">內文:
      <input  class="feedback_table_input" id="text_value" type='text' formControlName="text_input" required maxlength="200" placeholder="請敘述您的建議(200字以內)"></label>

      <button  class="feedback_table_input"  id="submit_btn"  (click)="onSend()" >確認送出</button> <br>

    </div>
  </form>

</div>
