/* .feedback_area{
  height: calc(100vmin - 218px) ;
} */
#feedback_table {

  font-size:16px;
  width:700px;
  border:1px solid #000;
  border-collapse:collapse;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom:50px;
  height: 100% ;
}


#feedback_table_title{
  color:#fff;
  background-color:#4C65BF;
  height: 50px;
  text-align:center;
  font-size: 18px;
  line-height: 50px;

}

.feedback_table_label {
  width: 100%;
  padding:5px;
  font-weight: 600;
  text-align: center;
  display:inline-block;
}

.feedback_table_input{

  margin: 5px;
  border: #000 1px solid;
  width: 80%;
 }

#text_value{

  height: 200px;
  margin-bottom: 30px;
 height: 270px;
}

#submit_btn  {
  text-align: center;
  border: #000 1px 0px 0px 0px solid;
  width: 120px;
  height: 40px;
  padding: 0px 30px;
  background-color: #4C65BF;
  color: #fff;
  border: #000 1px solid;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);

}
#emailmeg{
  left: 10%;
  margin-left: 15px;
  color:red;
  font-size: 12px;
}
@media screen and (max-width: 786px) {
  #feedback_table{
    width: 95%;
}
}
